<!DOCTYPE html>
<html lang="en">

<head>
  <title>CustomDiff: Home Page</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="js/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />


<style type="text/css">

html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}




li [nav-item]{ display: block;float: left;margin-right: 5px;}
img { display: block;float: left;margin-right: 10px;}

#home{ display: block;
float: left;
margin-right: 50px;
margin-left: 50px;}


.navbar-nav {
flex-direction: row;
 float: right;
}

.navbar-header {
align: left;
float: left;
}

.container-fluid  {
    float: left;
   
}

.container w-100 {
    float: left;
    flex-direction: row;
 
}

.navbar-light{
  border-bottom: 0px solid grey;
  float: left;
  flex-direction: row;
  
}
  

</style>
</head>


<body align="center" >

<!-- Header -->
<header  class="navbar navbar-light bg-faded">
  <nav  class="container w-100" style="background-color: white;">
    <div class="d-flex justify-content-between hidden-lg-up">      
       <a class="navbar-brand " href="/index">
    	  		<img id="Home" align="left " src="customDiffLargo.png" alt="Home" style="width:180px;height:50px;"></img>
    	  </a>
    </div>
      <ul class="nav navbar-nav ">
        <li class="">
        </li>
         	<li class="nav-item"><a href="http://localhost:8080/index"><img src="images/home.png" alt="Home" 
	      style="width:30px;height:30px;"/></a></li>
	       <li class="nav-item active"  align="center" valign="middle"><a href="/analysis"><img src="images/hierarchy.png" alt="Customization analysis" 
	      style="width:38px;height:38px;"/></a></li>
	      <li class="nav-item" align="center"><a href="http://localhost:8080/search"><img src="images/search.png" alt="Search diff" style="width:30px;height:30px;"/></a></li>
	      <li class="nav-item" align="center"><a href="http://localhost:8080/config"><img src="images/config.png" alt="Configuration" style="width:30px;height:30px;"/></a></li>
	       <li class="nav-item" align="center"><a href="http://localhost:8080/documentation"><img src="images/document.png" alt="Documentation" style="width:30px;height:30px;"/></a></li>
      </ul>
  </nav>
</header>
<br /><br />


<div class="container" style="background-color: light-grey;">
  <br /><br />
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-6">Customization Analysis</h1>
        <h5>Visualizing product customizations in Software Product Lines by means of Alluvial diagrams</h5>
       
      </div>
    </div>
      <!-- Example row of columns -->
      <div class="container" style="align:center">
		
		  <h3 style="color:" >A brief before you start! </h3>
		  <h4>Two views will be provided:</h4>
		  <br /><br />
		<div class="row" align="justify">
	       
	         <div class="col-md-6">
	          <h2>The position map</h2>
	          <img src="images/position-map.png" alt="position-map" style="width:150px;height:150px;"/>
	          <p>The position map represents the possible diffs (granularity) that can be consulted. It also keeps track of the consulted diffs 
	          (in blue) and currently consulted view (in orange).
	          </p>
	        </div>
	          
	         
	         <div class="col-md-6">
	          <h2>The Diagram view</h2>
	          <p> <img src="images/diagram-view.png" alt="diagram-view" style="width:180px;height:150px;"/>
	          We resort to alluvial diagrams to represent customization effort. On the left hand-side PL assets are arranged, while in the
	          right hand-side products' assets. Links between both represent the customization effort.
	          </p>
	       </div>
		</div>
	</div>
</div>
<br />
<br />
  
  <p><a class="btn btn-primary btn-lg" href="/simple_diff_features_pp" role="button">Simple analysis mode &raquo;</a></p>
  <p><a class="btn btn-primary btn-lg" href="/diff_parent_features_products" role="button">Advanced analysis mode &raquo;</a></p>
<br />
<br />
</body>
<footer class="footer">
      <div class="container">
        <span class="text-muted"> 
        <img src="images/onekinLogo.png" alt="Logo" style="width:150px;height:70px;">
        Contact:      oscar.diaz@ehu.eus, leticia.montalvillo@ehu.eus </img> </span>
		 
      </div>
 </footer>  

</html>
