<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<title>CustomsApp</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Logout</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br/>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px"/>
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>Leticia</strong></span><br/>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr/>
  <div class="w3-container">
    <h5>SPL Customization Analysis Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i> Close Menu</a>
    <a href="/index" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Overview</a>
    <a href="/customs" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Custom Analysis</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  General</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  History</a>
    <a href="/settings" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br/><br/>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Custom Analysis</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
     
      <div class="w3-twothird">
        <h5>Available Views</h5>
        <table class="w3-table w3-striped w3-white">
         
          <tr>
            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
            <td>Alluvial Diagram.
            <a href="/alluvialView">Go</a></td>
          </tr>
          
          <tr>
            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
            <td>TreeMap Diagram.
              <a href="/treemapLightsView">Go</a>
              </td>
          </tr>
          
          <tr>
            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
            <td>TreeMap 2 Diagram.
              <a href="/reuseLevelView">Go</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <hr/>
  
  <div class="w3-container">
    <h5>Filters</h5>
    
    <a href="/alluvial/baselines">Load</a>
	    <select onchange="" class="form-control"  id="dropBaseline">
		    <option value="0" text="select" >Baselines</option>
		    <option th:each="baseline : ${baselines}" 
		    th:value="${baseline.getIdBaseline()}" 
		    th:text="${baseline.getIdBaseline()}"></option>
	   </select>
	


<select>
  <option value="all">All products</option>
  <option value="ProductDonosti">ProductDonosti</option>
  <option value="ProductBerlin">ProductBerlin</option>
  <option value="ProductNewYork">ProductNewYork</option>
</select>

<select>
  <option value="feature">Feature</option>
  <option value="file">File</option>
</select>


<select>
  <option value="churn">Churn</option>
  <option value="delta">Delta</option>
</select>
    


    <h5>Which are the features that each product is customizing? How much are they customizing them? </h5>
    <h5>diff(core asset baseline , product portfolio)</h5>
      <!-- Image here -->
 
 <p id="chart">
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="sankey.js"></script>
<script src="draw.js"></script>
  <script>
 
  /*<![CDATA[*/
  var units = "Widgets";
	var margin = {top: 10, right: 10, bottom: 10, left: 10},
	    width = 900 - margin.left - margin.right,
	    height = 500 - margin.top - margin.bottom;
	var formatNumber = d3.format(",.0f"),    // zero decimal places
	    format = function(d) { return formatNumber(d) + " " + units; },
	    color = d3.scale.category20();
	// append the svg canvas to the page
	var svg = d3.select("#chart").append("svg")
	    .attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)
	  .append("g")
	    .attr("transform", 
	          "translate(" + margin.left + "," + margin.top + ")");
	// Set the sankey diagram properties
	var sankey = d3.sankey()
	    .nodeWidth(36)
	    .nodePadding(40)
	    .size([width, height]);
	var path = sankey.link();
	// load the data (using the timelyportfolio csv method)
	d3.csv("alluvial.csv", function(error, data) {
	  //set up graph in same style as original example but empty
	  graph = {"nodes" : [], "links" : []};
	    data.forEach(function (d) {
	      graph.nodes.push({ "name": d.source });
	      graph.nodes.push({ "name": d.target });
	      graph.links.push({ "source": d.source,
	                         "target": d.target,
	                         "value": +d.value });
	     });
	     // return only the distinct / unique nodes
	     graph.nodes = d3.keys(d3.nest()
	       .key(function (d) { return d.name; })
	       .map(graph.nodes));
	     // loop through each link replacing the text with its index from node
	     graph.links.forEach(function (d, i) {
	       graph.links[i].source = graph.nodes.indexOf(graph.links[i].source);
	       graph.links[i].target = graph.nodes.indexOf(graph.links[i].target);
	     });
	     //now loop through each nodes to make nodes an array of objects
	     // rather than an array of strings
	     graph.nodes.forEach(function (d, i) {
	       graph.nodes[i] = { "name": d };
	     });
	  sankey
	    .nodes(graph.nodes)
	    .links(graph.links)
	    .layout(32);
	// add in the links
	  var link = svg.append("g").selectAll(".link")
	      .data(graph.links)
	    .enter().append("path")
	      .attr("class", "link")
	      .attr("d", path)
	      .style("stroke-width", function(d) { return Math.max(1, d.dy); })
	      .sort(function(a, b) { return b.dy - a.dy; });
	// add the link titles
	  link.append("title")
	        .text(function(d) {
	    		return d.source.name + " → " + 
	                d.target.name + "\n" + format(d.value); });
	// add in the nodes
	  var node = svg.append("g").selectAll(".node")
	      .data(graph.nodes)
	    .enter().append("g")
	      .attr("class", "node")
	      .attr("transform", function(d) { 
			  return "translate(" + d.x + "," + d.y + ")"; })
	    .call(d3.behavior.drag()
	      .origin(function(d) { return d; })
	      .on("dragstart", function() { 
			  this.parentNode.appendChild(this); })
	      .on("drag", dragmove));
	// add the rectangles for the nodes
	  node.append("rect")
	      .attr("height", function(d) { return d.dy; })
	      .attr("width", sankey.nodeWidth())
	      .style("fill", function(d) { 
			  return d.color = color(d.name.replace(/ .*/, "")); })
	      .style("stroke", function(d) { 
			  return d3.rgb(d.color).darker(2); })
	    .append("title")
	      .text(function(d) { 
			  return d.name + "\n" + format(d.value); });
	// add in the title for the nodes
	  node.append("text")
	      .attr("x", -6)
	      .attr("y", function(d) { return d.dy / 2; })
	      .attr("dy", ".35em")
	      .attr("text-anchor", "end")
	      .attr("transform", null)
	      .text(function(d) { return d.name; })
	   	    .filter(function(d) { return d.x < width / 2; })
	      .attr("x", 6 + sankey.nodeWidth())
	      .attr("text-anchor", "start");
	// the function for moving the nodes
	  function dragmove(d) {
	    d3.select(this).attr("transform", 
	        "translate(" + d.x + "," + (
	                d.y = Math.max(0, Math.min(height - d.dy, d3.event.y))
	            ) + ")");
	    sankey.relayout();
	    link.attr("d", path);
	  }
	});
    /*]]>*/     
    /*<![CDATA[*/
    	
    	 /*]]>*/  
  </script>
</p>
      
      
  </div>
  
 
  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>
 
 