 <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8"/>
<meta name="diffvalue" th:content="${diffvalue}"></meta>

<title>Error page </title>

<table style="width:80%">

    <tr>
        <td align="right"> 
        <div>
		<img src="customDiff.png" alt="Logo" style="width:150px;height:100px;"/>
		</div>
		</td>
		 <td align="right">
	<h1 align="center">Not currently supported</h1>
	
		</td>
		    </tr>
</table>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/github.min.css" />
<link rel="stylesheet" type="text/css" href="dist/diff2html.css" />
<link rel="stylesheet" type="text/css" href="/dist/diff2html.css" />

<style>
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .5;
}

</style>
</head>
<body>


</body>
</html>