<!DOCTYPE html>
<html lang="en">

<head>
  <title>CustomDiff: Home Page</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="js/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />


<style type="text/css">
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}


li [nav-item]{ display: block;float: left;margin-right: 5px;}
img { display: block;float: left;margin-right: 10px;}

#home{ display: block;
float: left;
margin-right: 50px;
margin-left: 50px;}


.navbar-nav {
flex-direction: row;
 float: right;
}

.navbar-header {
align: left;
float: left;
}

.container-fluid  {
    float: left;
   
}

.container w-100 {
    float: left;
    flex-direction: row;
 
}

.navbar-light{
  border-bottom: 0px solid grey;
  float: left;
  flex-direction: row;
  
}
  

</style>
</head>


<body align="center" >
<!-- Header -->
<header  class="navbar navbar-light bg-faded">
  <nav  class="container w-100" style="background-color: white;">
    <div class="d-flex justify-content-between hidden-lg-up">      
       <a class="navbar-brand " href="/index">
    	  		<img id="Home" align="left " src="customDiffLargo.png" alt="Home" style="width:180px;height:50px;"></img>
    	  </a>
    </div>
      <ul class="nav navbar-nav ">
        <li class="">
        </li>
         <li class="nav-item"><a href="/index">
         <img src="images/home.png" alt="Home" style="width:30px;height:30px;" />
         </a></li>
	      <li class="nav-item active"  align="center" valign="middle"><a href="/analysis"><img src="images/hierarchy.png" alt="Customization analysis" 
	      style="width:38px;height:38px;"/></a></li>
	      <li class="nav-item" align="center"><a href="/search"><img src="images/search.png" alt="Search diff" style="width:30px;height:30px;"/></a></li>
	      <li class="nav-item" align="center"><a href="/config"><img src="images/config.png" alt="Configuration" style="width:30px;height:30px;"/></a></li>
	       <li class="nav-item" align="center"><a href="/documentation"><img src="images/document.png" alt="Documentation" style="width:30px;height:30px;"/></a></li>
      </ul>
  </nav>
</header>
<br /><br />
 
<div class="container" style="background-color: light-grey;">
  <br /><br />

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-6">Welcome to CustomDiff</h1>
        <h5>Tracing and visualizing product customizations in Software Product Lines</h5>
      <!--  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->  
      </div>
    </div>

      <!-- Example row of columns -->
      <div class="container" style="align:center">
         <div class="row" align="justify">
	         
	        
	         
	         <div class="col-md-4">
	          <h2>Configuration</h2>
	          <p> <img src="images/config.png" alt="Configuration" style="width:50px;height:50px;"/>
	          CustomDiff needs first to Extract Transform and Load your SPL-related data. Configure the needed parameters prior to start the analysis.</p>
	          <p><a class="btn btn-secondary" href="/config" role="button">Go&raquo;</a>
	          </p>
	       </div>
	       
	        <div class="col-md-4">
	          <h2>Customization Analysis</h2>
	          <p><img src="images/hierarchy.png" alt="Customization analysis" style="width:50px;height:50px;"/>
	          CustomDiff helps on identifying how  platform features and files have been customized by the product portfolio. 
	          CustomDiff resorts to Alluvial diagrams.</p>
	          <p><a class="btn btn-secondary" href="/analysis" role="button">Start &raquo;</a></p>
	        </div>
	         <div class="col-md-4">
	          <h2>CustomDiff documentation</h2>
	          <p><img src="images/document.png" alt="Documentation" style="width:50px;height:50px;"/>
	          Take a look to CustomDiff Manual version 1.0.</p>
	          <p><a class="btn btn-secondary" href="/documentation" role="button">Go &raquo;</a></p>
	        </div>
	        <div class="col-md-4">
	          <h2>Diff Search</h2>
	          <p><img src="images/search.png" alt="Search diff" style="width:50px;height:50px;"/>
	          CustomDiff provides a "search" like approach for the customization analysis.</p>
	          <p><a class="btn btn-secondary" href="/search" role="button">Go &raquo;</a></p>
	        </div>
		</div>
	</div>

  
</div>
<br />
</body>
<br />


<footer class="footer">
      <div class="container">
        <span class="text-muted"> 
        <img src="images/onekinLogo.png" alt="Logo" style="width:150px;height:70px;">
     </img> </span>
      </div>
 </footer>  

</html>
