<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style type="text/css">

html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>


<!-- Header-->
<body align="center" >
<div align="left" style="z-index:4">
<span align="left">
	<img src="customDiffLargo.png" alt="Logo" style="width:320px;height:90px;"/>
</span>
<p style="font-size:200%;">Tracing product customizations in SPLs</p>
</div>


<!-- Navigation header-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div  valign="top" class="navbar-header active selected">
      <a class="navbar-brand " href="localhost:8080">Home</a></div>
    <ul class="nav navbar-nav">
    	  <li><a>Search </a> </li>
    	  
      <li><a href="http://localhost:8080/alluvialView?idbaseline=Baseline-v1.0">Customization analysis</a></li>
      <li><a href="http://localhost:8080/config">Configuration</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Welcome to CustomDiff</h3>
  <p>Load data from your Git repo to start analysing product Customizations. 
      <a href="localhost:8080/config">Start now!</a></p>
</div>

</body>
</html>
