 <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Treemap for product structure with VPs</title>
<meta charset="utf-8"/>
<meta name="diffvalue" th:content="${diffvalue}"></meta>
<meta name="maintitle" th:content="${maintitle}"></meta>
<meta name="difftitle" th:content="${difftitle}"></meta>
<meta name="pr" th:content="${pr}"></meta>


<link rel="stylesheet" href="styles/kendo.common.min.css" />
<link rel="stylesheet" href="styles/kendo.default.min.css" />
<link rel="stylesheet" href="styles/kendo.default.mobile.min.css" />
<link rel="stylesheet" href="Treant.css" type="text/css"/>
<link rel="stylesheet" href="custom-colored.css" type="text/css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="dist/diff2html.css" />
<link rel="stylesheet" type="text/css" href="/dist/diff2html.css" />

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3.v4.0.0-alpha.35.min.js"></script>
<script src="NavigationMap.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/kendo.all.min.js"></script>
<script type="text/javascript" src="dist/diff2html.js"></script>
<script type="text/javascript" src="dist/diff2html-ui.js"></script>
<script src="vendor/raphael.js"></script>
<script src="Treant.js"></script>

<style>
text {
  font: 14px sans-serif;
}

tspan:last-child {
  font-size: 14px;
  fill-opacity: 0.9;
}

.node rect {
  shape-rendering: crispEdges;
}

.node--hover rect {
  stroke: #001;
}
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>

<!-- Header-->
<body align="center" >
<div align="left" style="z-index:4">
<span align="left">
	<img src="customDiffLargo.png" alt="Logo" style="width:320px;height:90px;"/>
</span>
<p style="font-size:200%;">Tracing product customizations in SPLs</p>
</div>

<!-- Table -->
<table  class="table table-bordered table-striped table-responsive " cellpadding="100" style="background-color:#E8E8E8;width:98%">

	<tr><!-- Navigation map on left hand-side -->
        <td style="width:20%" align="center">
			<p style= "color:#0000e5; font-size: 200%;" align="center"> Roll-up diagram</p>
			<div id="tree-simple" style="font-size:300%; width:600px; height: 400px">  </div>
			<script><!-- Script for the drawing of the navigation map-->
				var my_chart = new Treant(simple_chart_config);	//loaded from Navigation map js
			</script>
		</td>
		<!--Diagram view -->
		<td valign="botton" style="width:70%" align="center">
			<p style= "color:#ff6200; font-size: 200%;" align="center" th:text="${maintitle}" >Which Variation points is product customizing? </p>
			<p style= "color:#ff6200; font-size: 170%;" align="center"> Click-on to drill-down</p>
			
			<p align="center">
			<svg id="treemap" align="center" width="900" height="400"></svg></p>
			<p style="font-size:100%;" align="center">Note: Treemap area denotes customization change-size per variation point</p>
		</td>
	</tr>
</table>

<!-- Javascript to draw the  -->
<script>
var svg = d3.select("#treemap"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var format = d3.format(",d");

var color = d3.scaleMagma()
    .domain([-4, 4]);

var stratify = d3.stratify()
    .parentId(function(d) { return d.id.substring(0, d.id.lastIndexOf("/")); });

var treemap = d3.treemap()
    .size([width, height])
    .paddingOuter(3)
    .paddingTop(19)
    .paddingInner(1)
    .round(true);

d3.csv("productstructure.csv", function(error, data) {
  if (error) throw error;

  var root = stratify(data)
      .sum(function(d) { return d.value; })
      .sort(function(a, b) { return b.height - a.height || b.value - a.value; });

  treemap(root);

  var cell = svg
    .selectAll(".node")
    .data(root.descendants())
    .enter().append("g")
       .attr("transform", function(d) { return "translate(" + d.x0 + "," + d.y0 + ")"; })
      .attr("class", "node")
      .each(function(d) { d.node = this; })
      .on("mouseover", hovered(true))
      .on("mouseout", hovered(false))
      .on("click", function(d){
	    console.log("clicked id_asset"+d.data.id_asset);
	    /*<![CDATA[*/
	    window.location.href = "http://localhost:8080/file_vp_structure?pr=" +d.data.p_release+"&file="+ d.data.id_asset+"&expression="+d.data.expression+"#diffview";
	    /*]]>*/
	 	 });

  cell.append("rect")
      .attr("id", function(d) { return "rect-" + d.id; })
      .attr("id_asset", function(d) { console.log (d); return d.data.id_asset;})
      .attr("p_release", function(d) { console.log (d); return d.data.pr_release;})
      .attr("expression", function(d) { console.log (d); return d.data.expression;})
      .attr("width", function(d) {
    	  			console.log("in width");
    	  			console.log("d.x1: "+d.x1);
    	  			console.log("d.x0: "+d.x0);
    	  			return  d.x1 - d.x0; })
      .attr("operation", function(d) { console.log (d);
      			if (d.data.operation=="undefined" || d.data.operation==null)
      				return "undefined";
      			else return d.data.operation.toLowerCase();})
      .attr("height", function(d) { return d.y1 - d.y0; })
         .style("stroke","black")
      .style("fill", function(d) { 
	    	  console.log("in color");		
	    	    var operation = d.data.operation;
	    		if ( (operation =="undefined") || (d.data.operation==null)) return "#cccccc";
	    	  	else if (operation==("ADDED")) return "#3fac54";
	    	  	else if (operation==("REMOVED")) return "#e6323d";
	    	  	else if (operation=="churn") return "#FF8100";
	    	return "#cccccc";//color(d.value);//the value - churn - of the customization
    	  });


  cell.append("clipPath")
      .attr("id", function(d) { return "clip-" + d.id; })
    .append("use")
      .attr("xlink:href", function(d) { return "#rect-" + d.id + ""; });

  var label = cell.append("text")
      .attr("clip-path", function(d) { return "url(#clip-" + d.id + ")"; })
      ;

  label
    .filter(function(d) { return d.children; })
    .selectAll("tspan")
      .data(function(d) { return d.id.substring(d.id.lastIndexOf("/") + 1).concat( format(d.value)); })
    .enter().append("tspan")
      .attr("x", function(d, i) { return i ? null : 4; })
      .attr("y", 13)
      .text(function(d) { return d; });

  label
    .filter(function(d) { return !d.children; })
    .selectAll("tspan")
      .data(function(d) { return d.id.substring(d.id.lastIndexOf("/") + 1).split(/(?=[A-Z][^A-Z])/g).concat(format(d.value)); })
    .enter().append("tspan")
      .attr("x", 20)
      .attr("y", function(d, i) { return 20 + i * 20; })
      .text(function(d) { return d; });

  cell.append("title")
      .text(function(d) { return d.id + "\n" + format(d.value); });
});

d3.selectAll("rect").on("click", function(){
	  var title = this.parentNode.parentNode.getElementsByTagName("title")[0].childNodes[0];
	  console.log(title);
	});

function hovered(hover) {
	  return function(d) {
	    d3.selectAll(d.ancestors().map(function(d) { return d.node; }))
	        .classed("node--hover", hover)
	      .	select("rect")
	      .style("boder-color","black")
	       .style("stroke","black")
	        .attr("width", function(d) { return d.x1 - d.x0 - hover; })
	        .attr("height", function(d) { return d.y1 - d.y0 - hover; });
	    
	    if(hover==false)
	    	d3.selectAll(d.ancestors().map(function(d) { return d.node; }))
	    	      .classed("node--hover", hover).select("rect").
	    	      style("fill", function(d) { 
	    	    	  	var operation = d.data.operation;
	  	    		if ( (operation =="undefined") || (d.data.operation==null)) return "#cccccc";
	  	    	  	else if (operation==("ADDED")) return "#3fac54";
	  	    	  	else if (operation==("REMOVED")) return "#e6323d";
	  	    	  else if (operation=="churn") return "#FF8100";
	  	    		return "#cccccc";
	    	    	  });
	    else d3.select(d.node).classed("node--hover", hover).
	    select("rect").style("fill","#6495ed");
	  };
}

</script>

<h2 style= "font-size: 140%"  th:text="${diffHeader}"></h2>
<div id="diffview"></div>
<!-- Javascripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/scala.min.js"></script> 
<script type="text/javascript" src="dist/diff2html.js"></script>
<script type="text/javascript" src="dist/diff2html-ui.js"></script>
<script type="text/javascript" src="/dist/diff2html.js"></script>
<script type="text/javascript" src="/dist/diff2html-ui.js"></script>
<script type="text/javascript" src="dist/diff2html.min.js"></script>

		
<script>
/*<![CDATA[*/
	function getMetaContentByName(name,content){
	   var content = (content==null)?'content':content;
	   return document.querySelector("meta[name='"+name+"']").getAttribute(content);
	}
	
	$(document).ready(function(){
		/** Adding the back button to the root element **/
		var node = document.getElementsByClassName("node nodeExample1 visitedBlue");
		var button = document.createElement("button");
		var t = document.createTextNode("Roll-up");    
		button.appendChild(t);            
		console.log(node);
		button.setAttribute("id","alluvialButton");  
		node[1].appendChild(button);//Node for the alluvial
		button.onclick=function(){
			window.location.href ="http://localhost:8080/alluvialView?idbaseline=Baseline-v1.0&id_product_asset=0";
		}
		/** Adding the back button to the roll up element **/
		var button = document.createElement("button");
		var t = document.createTextNode("Roll-up");    
		button.appendChild(t);            
		console.log(node);
		button.setAttribute("id","productTreemap");  
		node[0].appendChild(button);//Node for roll-up
		button.onclick=function(){
			var pr = getMetaContentByName("pr");
			console.log(pr);
			window.location.href ="http://localhost:8080/reuseLevelView?zoom=true&pr="+pr;
		}
		
		/** For the diff view **/
		var diffvalue = getMetaContentByName("diffvalue");
		if (diffvalue==null) return
		console.log("diffvalue:\n" + diffvalue);
		var diff2htmlUi = new Diff2HtmlUI({diff: diffvalue});
		console.log(diff2htmlUi);
		diff2htmlUi.draw('#diffview', {inputFormat: 'json', showFiles: true, matching: 'lines'});
	    diff2htmlUi.highlightCode('#diffview');
	});
/*]]>*/
</script>

</body>
</html>
