 <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8"/>
<meta name="diffvalue" th:content="${diffvalue}"></meta>
<meta name="maintitle" th:content="${maintitle}"></meta>
<meta name="difftitle" th:content="${difftitle}"></meta>



<table style="width:100%">
    <tr>
        <td  style="width:30%" align="center"> 
	        <div>
			<a  href="http://localhost:8080/alluvialView?idbaseline=Baseline-v1.0&amp;id_product_asset=0">
			<img src="customDiff.png" alt="Logo" style="width:150px;height:100px;"/>
			</a>
			</div>
		</td>
		 <td style="width:50%" align="center">
			<h1 th:text="${diffHeader}" style= "font-size: 250%" align="center">diff (CoreAssetBaseline, products-VPs)</h1>
			<h1 th:text="${maintitle}" style= "font-size: 200%" align="center">Which Variation points is product customizing? </h1>
			
			
		</td>
		<td style="width:20%" align="center">
			<p id="tree-simple" style="width:450px; height: 300px"> Navigation Map </p>
		</td>
	</tr>
</table>
<br />

<title>Treemap product structure VPs</title>
<link rel="stylesheet" href="styles/kendo.common.min.css" />
<link rel="stylesheet" href="styles/kendo.default.min.css" />
<link rel="stylesheet" href="styles/kendo.default.mobile.min.css" />
<link rel="stylesheet" href="Treant.css" type="text/css"/>
<link rel="stylesheet" href="custom-colored.css" type="text/css"/>

<script src="NavigationMap.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/kendo.all.min.js"></script>
<script type="text/javascript" src="dist/diff2html.js"></script>
<script type="text/javascript" src="dist/diff2html-ui.js"></script>
<script src="vendor/raphael.js"></script>
<script src="Treant.js"></script>

<!-- Javascript for the map menu-->
<script>
var my_chart = new Treant(simple_chart_config);	//loaded from Navigation map js
</script>

<style>

text {
  font: 14px sans-serif;
}

tspan:last-child {
  font-size: 14px;
  fill-opacity: 0.9;
}

.node rect {
  shape-rendering: crispEdges;
}

.node--hover rect {
  stroke: #001;
}
</style>
</head>
<body>

<!-- Javascripts -->
<script type="text/javascript" src="dist/diff2html.js"></script>
<script type="text/javascript" src="dist/diff2html-ui.js"></script>
<p style="font-size:120%;" align="center"> Note: Treemap area denotes customization change-size per variation point.</p>
<p align="center">
<svg id="treemap" align="center" width="900" height="400"></svg></p>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3.v4.0.0-alpha.35.min.js"></script>

<link rel="stylesheet" type="text/css" href="dist/diff2html.css" />
<link rel="stylesheet" type="text/css" href="/dist/diff2html.css" />
<script>
var svg = d3.select("#treemap"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var format = d3.format(",d");

var color = d3.scaleMagma()
    .domain([-4, 4]);

var stratify = d3.stratify()
    .parentId(function(d) { return d.id.substring(0, d.id.lastIndexOf("/")); });

var treemap = d3.treemap()
    .size([width, height])
    .paddingOuter(3)
    .paddingTop(19)
    .paddingInner(1)
    .round(true);

d3.csv("productstructure.csv", function(error, data) {
  if (error) throw error;

  var root = stratify(data)
      .sum(function(d) { return d.value; })
      .sort(function(a, b) { return b.height - a.height || b.value - a.value; });

  treemap(root);

  var cell = svg
    .selectAll(".node")
    .data(root.descendants())
    .enter().append("g")
       .attr("transform", function(d) { return "translate(" + d.x0 + "," + d.y0 + ")"; })
      .attr("class", "node")
      .each(function(d) { d.node = this; })
      .on("mouseover", hovered(true))
      .on("mouseout", hovered(false))
      .on("click", function(d){
	    console.log("clicked id_asset"+d.data.id_asset);
	    /*<![CDATA[*/
	    window.location.href = "http://localhost:8080/file_vp_structure?pr=" +d.data.p_release+"&file="+ d.data.id_asset+"&expression="+d.data.expression+"#diffview";
	    /*]]>*/
	 	 });

  cell.append("rect")
      .attr("id", function(d) { return "rect-" + d.id; })
      .attr("id_asset", function(d) { console.log (d); return d.data.id_asset;})
      .attr("p_release", function(d) { console.log (d); return d.data.pr_release;})
      .attr("expression", function(d) { console.log (d); return d.data.expression;})
      .attr("width", function(d) {
    	  			console.log("in width");
    	  			console.log("d.x1: "+d.x1);
    	  			console.log("d.x0: "+d.x0);
    	  			return  d.x1 - d.x0; })
      .attr("operation", function(d) { console.log (d);
      			if (d.data.operation=="undefined" || d.data.operation==null)
      				return "undefined";
      			else return d.data.operation.toLowerCase();})
      .attr("height", function(d) { return d.y1 - d.y0; })
         .style("stroke","black")
      .style("fill", function(d) { 
	    	  console.log("in color");		
	    	    var operation = d.data.operation;
	    		if ( (operation =="undefined") || (d.data.operation==null)) return "#cccccc";
	    	  	else if (operation==("ADDED")) return "#3fac54";
	    	  	else if (operation==("REMOVED")) return "#e6323d";
	    	  	else if (operation=="churn") return "#FF8100";
	    	return "#cccccc";//color(d.value);//the value - churn - of the customization
    	  });


  cell.append("clipPath")
      .attr("id", function(d) { return "clip-" + d.id; })
    .append("use")
      .attr("xlink:href", function(d) { return "#rect-" + d.id + ""; });

  var label = cell.append("text")
      .attr("clip-path", function(d) { return "url(#clip-" + d.id + ")"; })
      ;

  label
    .filter(function(d) { return d.children; })
    .selectAll("tspan")
      .data(function(d) { return d.id.substring(d.id.lastIndexOf("/") + 1).concat( format(d.value)); })
    .enter().append("tspan")
      .attr("x", function(d, i) { return i ? null : 4; })
      .attr("y", 13)
      .text(function(d) { return d; });

  label
    .filter(function(d) { return !d.children; })
    .selectAll("tspan")
      .data(function(d) { return d.id.substring(d.id.lastIndexOf("/") + 1).split(/(?=[A-Z][^A-Z])/g).concat(format(d.value)); })
    .enter().append("tspan")
      .attr("x", 20)
      .attr("y", function(d, i) { return 20 + i * 20; })
      .text(function(d) { return d; });

  cell.append("title")
      .text(function(d) { return d.id + "\n" + format(d.value); });
});

d3.selectAll("rect").on("click", function(){
	  var title = this.parentNode.parentNode.getElementsByTagName("title")[0].childNodes[0];
	  console.log(title);
	});

function hovered(hover) {
	  return function(d) {
	    d3.selectAll(d.ancestors().map(function(d) { return d.node; }))
	        .classed("node--hover", hover)
	      .	select("rect")
	      .style("boder-color","black")
	       .style("stroke","black")
	        .attr("width", function(d) { return d.x1 - d.x0 - hover; })
	        .attr("height", function(d) { return d.y1 - d.y0 - hover; });
	    
	    if(hover==false)
	    	d3.selectAll(d.ancestors().map(function(d) { return d.node; }))
	    	      .classed("node--hover", hover).select("rect").
	    	      style("fill", function(d) { 
	    	    	  	var operation = d.data.operation;
	  	    		if ( (operation =="undefined") || (d.data.operation==null)) return "#cccccc";
	  	    	  	else if (operation==("ADDED")) return "#3fac54";
	  	    	  	else if (operation==("REMOVED")) return "#e6323d";
	  	    	  else if (operation=="churn") return "#FF8100";
	  	    		return "#cccccc";
	    	    	  });
	    else d3.select(d.node).classed("node--hover", hover).
	    select("rect").style("fill","#6495ed");
	  };
}

</script>

<h2 style= "font-size: 140%"  th:text="${diffHeader}"></h2>
<div id="diffview"></div>
<!-- Javascripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/scala.min.js"></script> 
<script type="text/javascript" src="dist/diff2html.js"></script>
<script type="text/javascript" src="dist/diff2html-ui.js"></script>
<script type="text/javascript" src="/dist/diff2html.js"></script>
<script type="text/javascript" src="/dist/diff2html-ui.js"></script>
<script type="text/javascript" src="dist/diff2html.min.js"></script>

		
<script>
	function getMetaContentByName(name,content){
	   var content = (content==null)?'content':content;
	   return document.querySelector("meta[name='"+name+"']").getAttribute(content);
	}
	
	$(document).ready(function(){
		//console.log(diffString); //diffString should be the value of diffview value
		//get select("#diffvalue"). metadata
		var diffvalue = getMetaContentByName("diffvalue");
		
		if (diffvalue==null) return
		
		console.log("diffvalue:\n" + diffvalue);
		
		var diff2htmlUi = new Diff2HtmlUI({diff: diffvalue});
		console.log(diff2htmlUi);
		diff2htmlUi.draw('#diffview', {inputFormat: 'json', showFiles: true, matching: 'lines'});
	    diff2htmlUi.highlightCode('#diffview');
	});
</script>

</body>
</html>
