
 
 <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Demo</title>

<script>
function getSelectedBaseline(){
	var e = document.getElementById("dropBaseline");
	var idbaseline = e.options[e.selectedIndex].value;
	return idbaseline;
}

</script>

</head>


<body>
<h1> Welcome to SPL Custom Analysis Web App </h1>

<p> 
<div class="form-group blu-margin">Select a Git repository to analyze:
    
    <select class="form-control"  id="dropBaseline">
    <option value="one" text="select baseline">https://github.com/letimome/WeatherStationSPL</option>
    </select>
	</div>
</p>




<p>Click to view an Alluvial Diagram for product customizations to SPL features 
<a href="/alluvialView?idbaseline=Baseline-v1.0"> here</a>
</p>


<p>Click to view a Treemap for Hotspots customizations in core assets  <a href="/treemapLightsView?base=Baseline-v1.0&amp;fname=English">here</a></p>
<p>Click to view a Treemap of a product customizations <a href="/reuseLevelView">here</a></p>
</body>
</html>