 <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8"/>
<title>Treemap</title>

<style>

body {
  font: 18px sans-serif;
  position: relative;
}

.node {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
}

.node-label {
  padding: 10px;
  line-height: 1em;
  white-space: pre;
}

.node-value {
  color: rgba(0,0,0,0.8);
  font-size: 18px;
  margin-top: 9px;
}

</style>
</head>
<body>
<h1> Which are the core assets most customized by products? </h1>

<select>
  <option value="select baseline">Select baseline</option>
  <option value="Baseline1">Baseline-v1.0</option>
  <option value="Baseline0">Baseline-v2.0</option>
</select>

<select>
  <option value="feature">Select feature</option>
  <option value="WindSpeed">WindSpeed</option>
  <option value="AirPreassure">AirPreassure</option>
  <option value="Gale">Gale</option>
  <option value="AirPreassure">AirPreassure</option>
  <option value="English">English</option>
  <option value="German">German</option>
</select>


<select>
  <option value="granularity">Granularity</option>
  <option value="file">File</option>
  <option value="file">Feature</option>
</select>

<select>
  <option value="churn">Select Metric</option>
  <option value="churn">Churn</option>
  <option value="delta">Delta</option>
</select>

<p id="chart">
<script src="http://d3js.org/d3.v4.min.js"></script>
<script>


var margin = {top: 150, right: 10, bottom: 10, left: 10},
width = 900 - margin.left - margin.right,
height = 500 - margin.top - margin.bottom;

var format = d3.format(",d");

var color = d3.scaleOrdinal()
    .range(d3.schemeCategory10
        .map(function(c) { c = d3.rgb(c); c.opacity = 0.6; return c; }));

var stratify = d3.stratify()
    .parentId(function(d) { return d.id.substring(0, d.id.lastIndexOf("/")); });

var treemap = d3.treemap()
    .size([width, height])
    .padding(2)
    .round(true);

d3.csv("treemapLights.csv", type, function(error, data) {
  if (error) throw error;

  var root = stratify(data)
      .sum(function(d) { return d.value; })
      .sort(function(a, b) { return b.height - a.height || b.value - a.value; });

  treemap(root);

  d3.select('#chart')
    .selectAll(".node")
    .data(root.leaves())
    .enter().append("div")
      .attr("class", "node")
      .attr("title", function(d) { return d.id + "\n" + format(d.value); })
      .style("left", function(d) { return d.x0 + "px"; })
      .style("top", function(d) { return d.y0 + margin.top+ "px"; })
      .style("width", function(d) { return d.x1 - d.x0 + "px"; })
      .style("height", function(d) { return d.y1 - d.y0 + "px"; })
      .style("background",function(d) {
    	  	var freqScale = d.data.frequency;
    	  	if (freqScale==1) return "#00CC00";
    	  	else if (freqScale==2) return "#FF9933";
    	  	else if (freqScale ==3) return "#E84646";})
    .append("div")
      .attr("class", "node-label")
      .text(function(d) { return d.id.substring(d.id.lastIndexOf("/") + 1).split(/(?=[A-Z][^A-Z])/g).join("\n"); })
    .append("div")
      .attr("class", "node-value")
      .text(function(d) { return format(d.value); })
     
});

function type(d) {
  d.value = +d.value;
  return d;
}
</script>
</p>

</body>
</html>