 <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8"/>
<meta name="diffvalue" th:content="${diffvalue}"></meta>
<meta name="pr" th:content="${pr}"></meta>
<meta name="fname" th:content="${fname}"></meta>
<meta name="cavalue" th:content="${cavalue}"></meta>
<meta name="diffHeader" th:content="${diffHeader}"></meta>

<meta name="maintitle" th:content="${maintitle}"></meta>
<meta name="difftitle" th:content="${difftitle}"></meta>


<table style="width:100%">

    <tr>
        <td align="right"> 
        <div>
		<a  href="http://localhost:8080/alluvialView?idbaseline=Baseline-v1.0&amp;id_product_asset=0">
			<img src="customDiff.png" alt="Back to alluvial view" style="width:80px;height:80px;"/>
		</a>
		</div>
		</td>
		 <td align="right">
			<h1 align="center" th:text="${maintitle}"> How is feature customized in products? </h1>
			<h2 align="center" th:text="${difftitle}"> diff(feature, product portfolio)</h2>
		</td>
		</tr>
</table>



<br />
<br />
<style>

body {
  font: 15px sans-serif;
  position: relative;
}

.node {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
}

.node-label {
  padding: 20px;
  line-height: 300em;
  white-space: pre;
}

.node-value {
  color: rgba(0,0,0,0.8);
  font-size: 14px;
  margin-top: 15px;
}

</style>
</head>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/github.min.css" />
<link rel="stylesheet" type="text/css" href="dist/diff2html.css" />
<link rel="stylesheet" type="text/css" href="/dist/diff2html.css" />
<style>

text {
  font: 18px sans-serif;
}

tspan:last-child {
  font-size: 15px;
  fill-opacity: 0.9;
}

.node rect {
  shape-rendering: crispEdges;
}

.node--hover rect {
  stroke: #008;
}

</style>


<body>

<h2></h2>

<!-- Javascripts -->
<script type="text/javascript" src="dist/diff2html.js"></script>
<script type="text/javascript" src="dist/diff2html-ui.js"></script>

<p align="center">Note: Treemap area denotes customization change-size (churn).
<svg align="center" width="900" height="600"></svg></p>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3.v4.0.0-alpha.35.min.js"></script>

<script>

function getMetaContentByName(name,content){
	   var content = (content==null)?'content':content;
	   return document.querySelector("meta[name='"+name+"']").getAttribute(content);
	}

var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var format = d3.format(",d");
/*
green "#00CC00";
orange "#FF9933";
red "#E84646";*/

var color = d3.scaleLinear()
	.domain([1, 6])
	.range(['#00b700','#ff9a00','#E84646"']); 
/*= d3.scaleOranges()
    .domain([0, 10]);//values*/

var stratify = d3.stratify()
    .parentId(function(d) { return d.id.substring(0, d.id.lastIndexOf("/")); });

var treemap = d3.treemap()
    .size([width, height])
    .paddingOuter(8)
    .paddingTop(28)
    .paddingInner(8)
    .round(true);

d3.csv("treemapLights.csv", function(error, data) {
  if (error) throw error;

  var root = stratify(data)
      .sum(function(d) { 
    	  return d.value; 
    	  })
      .sort(function(a, b) { return b.height - a.height || b.value - a.value; });

  treemap(root);

  var cell = svg
    .selectAll(".node")
    .data(root.descendants())
    .enter().append("g")
       .attr("transform", function(d) { return "translate(" + d.x0 + "," + d.y0 + ")"; })
      .attr("class", "node")
      .each(function(d) { d.node = this; })
      .on("mouseover", hovered(true))
      .on("mouseout", hovered(false))
      .on("click", function(d){
	    console.log("clicked id_core_asset"+d.data.id_core_asset);
	    /*<![CDATA[*/
	    window.location.href = "http://localhost:8080/treemapLightsView?base=Baseline-v1.0&fname="+d.data.fname+"&idfile="+ d.data.id_core_asset+"&pr="+d.data.product_release+"#diffview";
	    /*]]>*/
	 	 });

  cell.append("rect")
      .attr("id", function(d) { return "rect-" + d.id; })
      .attr("id_core_asset", function(d) { console.log (d); return d.data.id_core_asset;})
      .attr("fname", function(d) { console.log (d); return d.data.fname;})
      .attr("pr", function(d) { console.log (d); return d.data.product_release;})
      .attr("width", function(d) { return d.x1 - d.x0; })
      .attr("height", function(d) { return d.y1 - d.y0; })
      .attr("operation",function(d) { console.log (d); return d.data.operation;})
     .style("stroke","black")
     .style("fill", function(d) { 
	    	  console.log("in color");		
	    	  var operation = d.data.operation;
	    		if ( (operation =="undefined") || (d.data.operation==null)) return "#cccccc";
	    	  	else if (operation==("add")) return "#3fac54";
	    	  	else if (operation==("delete")) return "#e6323d";
	    	  	else if (operation=="churn") return "#ffc100";
	    	return "#cccccc";//color(d.value);//the value - churn - of the customization
    	  });

  cell.append("clipPath")
      .attr("id", function(d) { return "clip-" + d.id; })
    .append("use")
      .attr("xlink:href", function(d) { return "#rect-" + d.id + ""; });

  var label = cell.append("text")
      .attr("clip-path", function(d) { return "url(#clip-" + d.id + ")"; });

  label
    .filter(function(d) { return d.children; })
    .selectAll("tspan")
      .data(function(d) { return d.id.substring(d.id.lastIndexOf("/") + 1).split(/(?=[A-Z][^A-Z])/g).concat("\xa0" + format(d.value)); })
    .enter().append("tspan")
      .attr("x", function(d, i) { return i ? null : 4; })
      .attr("y", 13)
      .text(function(d) { return d; });

  label
    .filter(function(d) { return !d.children; })
    .selectAll("tspan")
      .data(function(d) { return d.id.substring(d.id.lastIndexOf("/") + 1).split(/(?=[A-Z][^A-Z])/g).concat(format(d.value)); })
    .enter().append("tspan")
      .attr("x", 10)
      .attr("y", function(d, i) { return 20 + i * 20; })
      .text(function(d) { return d; });

  cell.append("title")
      .text(function(d) {//this is the title in the label 
    	  return d.id + "\n" + format(d.value); });
});

d3.selectAll("rect").on("click", function(d){
	  var title = this.parentNode.parentNode.getElementsByTagName("title")[0].childNodes[0];
	  
	  console.log(title);
	});

function hovered(hover) {
	  return function(d) {
	    d3.selectAll(d.ancestors().map(function(d) { return d.node; }))
	        .classed("node--hover", hover)
	      .	select("rect")
	      .style("boder-color","black")
	       .style("stroke","black")
	        .attr("width", function(d) { return d.x1 - d.x0 - hover; })
	        .attr("height", function(d) { return d.y1 - d.y0 - hover; });
	    
	    if(hover==false)
	    	d3.selectAll(d.ancestors().map(function(d) { return d.node; }))
	    	      .classed("node--hover", hover).select("rect").
	    	      style("fill", function(d) { 
	    	    	  	var operation = d.data.operation;
	  	    		if ( (operation =="undefined") || (d.data.operation==null)) return "#cccccc";
	  	    	  	else if (operation==("add")) return "#3fac54";
	  	    	  	else if (operation==("delete")) return "#e6323d";
	  	    	  	else if (operation=="churn") return "#ffc100";
	    	    	  });
	    else d3.select(d.node).classed("node--hover", hover).
	    select("rect").style("fill","#6495ed");
	  };
  /**
  var operation = d.data.operation;
	    		if ( (operation =="undefined") || (d.data.operation==null)) return "#cccccc";
	    	  	else if (operation==("add")) return "#3fac54";
	    	  	else if (operation==("delete")) return "#e6323d";
  */
  function clicked(click){
	  console.log("clicked");
	  console.log(d.data.id_core_asset);
	  window.location.href("htttps://localhost:8080");
  };
}

</script>

<br />
<br />
 <h3 align="center" th:text="${diffHeader}"></h3>
<div align="center" id="diffview"></div>
<!-- Javascripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/scala.min.js"></script> 
<script type="text/javascript" src="dist/diff2html.js"></script>
<script type="text/javascript" src="dist/diff2html-ui.js"></script>
<script type="text/javascript" src="/dist/diff2html.js"></script>
<script type="text/javascript" src="/dist/diff2html-ui.js"></script>
<script type="text/javascript" src="dist/diff2html.min.js"></script>

		
<script>
	function getMetaContentByName(name,content){
	   var content = (content==null)?'content':content;
	   return document.querySelector("meta[name='"+name+"']").getAttribute(content);
	}
	
	$(document).ready(function(){
		//console.log(diffString); //diffString should be the value of diffview value
		//get select("#diffvalue"). metadata
		var diffvalue = getMetaContentByName("diffvalue");
		
		if (diffvalue==null) return
		
		console.log("diffvalue:\n" + diffvalue);
		
		var diff2htmlUi = new Diff2HtmlUI({diff: diffvalue});
		console.log(diff2htmlUi);
		diff2htmlUi.draw('#diffview', {inputFormat: 'json', showFiles: true, matching: 'lines'});
	    diff2htmlUi.highlightCode('#diffview');
	});
</script>

</body>
</html>