 <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8"/>
<title>Treemap</title>
<style>
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .5;
}
</style>
</head>
<body>
<h1> diff (feature, ProductPortfolio)  </h1>

<select>
  <option value="select-baseline">Select baseline products</option>
  <option value="Baseline1">Baseline-v1.0</option>
  <option value="Baseline0">Baseline-v2.0</option>

</select>

<select>
  <option value="feature">Feature</option>
  <option value="file">File</option>
</select>


<select>
  <option value="churn">Churn</option>
  <option value="delta">Delta</option>
</select>

<p id="chart">
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="sankey.js"></script>
<script src="draw.js"></script>
  
</p>
</body>
</html>